.bylh-discovery {
  .bylh-content {
    display: flex;
    flex-direction: column;
    .progress-bar-container {
      height: 5px;
    }
    .selector-container {
      flex: 0 1 auto;
      .tab-container {
        ::ng-deep .ant-tabs-nav-scroll {
          //overflow: auto;
        }
      }

      .tag {
        margin: 3px;
        font-size: 15px;
      }
    }

    .list-container {
      height: 0;
      flex: 1 1 auto;
      // 推荐
      .seg-viewport {
        height: 100%;

        ::ng-deep .cdk-virtual-scroll-content-wrapper {
          width: 100%;
        }

        .items-container {
          img {
            width: 100%;
          }
        }
      }

      // 其他
      .other {
        height: 100%;
        padding: 0 10px;
        overflow: auto;
      }
    }

  }
}
